<div #map></div>

<ul class="list-group">
    @if (listMarkers.length > 0) 
    {
        @for (item of listMarkers; track item; let index = $index) {            
            <li class="list-group-item" 
                [ngStyle]="{ 'background-color': item.color}" 
                (dblclick)="deleteElement(index)"
                (click)="flyTo(item.marker)">
                Marcador {{index + 1}}
            </li>
        }
    }
</ul>


<button class="btn btn-primary btnAddMarker" (click)="btnAddMarker()">
    <fa-icon [icon]="faSave"></fa-icon> Guardar Marcador
</button>