<div #map></div>

<ul class="list-group">
    <li class="list-group-item">
        prueba 1
    </li>
    <li class="list-group-item">
        prueba 1
    </li>
    <li class="list-group-item">
        prueba 1
    </li>
    <li class="list-group-item">
        prueba 1
    </li>
    <li class="list-group-item">
        prueba 1
    </li>
    <li class="list-group-item">
        prueba 1
    </li>
</ul>


<button class="btn btn-primary btnAddMarker" (click)="btnAddMarker()">
    <fa-icon [icon]="faSave"></fa-icon> Guardar Marcador
</button>